.card {
    height: 100px;
    width: 50%;

    background:#735bf2;
    color: #fff;

    border-radius: 10px;
    border-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;

    margin: 10px 0 10px;
}

.card strong{
    font-size: 18px;
}